body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  color: #333;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #333;
  text-decoration: underline solid #333;
}
label {
  margin: auto;
  font-weight: 400;
}
div#content {
  height: calc(100% - 90px);
  -webkit-overflow-scrolling: touch;
}
div#header {
  z-index: 100;
  width: 100%;
  background-color: #9d3757;
  padding: 10px 0px 10px 20px;
  margin-bottom: 10px;
  border-bottom: 10px solid #fff;
  position: fixed;
  display: flex;
  align-items: center;
}
div#header h1 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin: 0px;
}
div#header-left {
  display: flex;
  flex: 1;
}
div#header-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding-right: 50px;
}
div#header-right a.icon {
  margin-left: 20px;
}
div#header-right a.icon i {
  color: #fff;
}
div#body {
  margin-bottom: 110px;
  padding-top: 70px;
}

div#youtube-player {
  display: flex;
  color: #fff;
  background-color: #999;
}
div#player-wrapper {
  position: fixed;
  z-index: 110;
  top: 70px;
  padding-left: 10px;
}
div#video-wrapper {
  height: inherit;
  top: 70px;
  z-index: 10;
  padding-left: 10px;
  overflow-x: hidden;
}
div#message-wrapper {
  position: fixed;
}


div#youtube-player p {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  align-items: center;
  justify-content: center;
}

div#message-wrapper .player-message {
  margin-top:20px;
}
div#message-wrapper .player-message h2 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;
}
div#message-wrapper .player-message .message-body {
  font-size: 14px;
  color: #333;
  margin-top: 5px;
  margin-left: 10px;
  font-weight: 300;
}
div#message-wrapper .player-message a {
  color: #337ab7;
}
div.video {
  position: static;
  padding : 10px;
  margin-left: 10px;
  border-bottom: 1px solid #ccc;
}
div.video-thumb {
  position: relative;
  float: left;
  width: 128px;
  height: 72px;
  background-color: #eee;
}
div.video-thumb img {
  z-index: 90;
  width: 128px;
  height: 72px;
}
div.video-info {
  z-index: 80;
  position: static;
  padding-top: 5px;
  padding-left: 140px;

}
div.video-info span.title {
  font-size: 16px;
}
div.video-info span.date {
  font-size: 12px;
  color: #666;
}
div#song-table_filter {
  margin: 5px 0px 0px auto;
}
div#song-table_filter input {
  font-size:16px;
  width: 200px;
}
div#song-table_info {
  padding-left: 20px;
}
div.dataTables_wrapper div.row:first-child {
  z-index: 50;
  position: fixed;
  left: 0;
  width: 100%;
  background-color: rgba(255,255,255,0.9);
}
.dataTables_empty {
  border-bottom: 1px solid #000;
}
table.dataTable.no-footer {
  border-bottom: none;
}
table.dataTable thead th, table.dataTable thead td {
  padding-top: 5px;
  padding-left: 10px;
}
table#song-table {
  table-layout: fixed;
  width: 100%;
  padding: 35px 15px 10px 15px;
  border-spacing: 0px;
}
table#song-table tr:last-child td {
  border-bottom: 1px solid #000;
}
tr.header-row {
  font-size: 12px;
  font-weight: 500;
  text-align: left;
}
tr.header-row th.status {
  width: 1px;
  padding-left:15px;
}
tr.header-row th.title {
  width: 40%;
}
tr.header-row th.artist {
  width: 20%;
}
tr.header-row th.video-title {
  width: 40%;
}
tr.song-row {
  font-size: 13px;
  font-weight: 300;
}
tr.selected {
  background-color: #eee;
}
tr.selected td.title {
  font-weight: 500;
}
tr.song-row:hover {
  background-color: #ddd;
}
tr.song-row td {
  padding: 10px 5px;
  border-bottom: 1px solid #ccc;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
tr.song-row td.status {
  font-size: 0;
}
tr.song-row td.title {
  padding-left: 10px;
}
tr.song-row td img {
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
}
div#navigation-wrapper {
  box-shadow: 0 0 8px rgba(0,0,0,.4);
  z-index: 120;
  background-color: #fff;
  display: flex;
  position: fixed;
  bottom: 0;
  height: 90px;
  width: 100%;
}
div#navigation-wrapper checkbox {
  margin: 0px;
}
div#navigation-wrapper label {
  margin: auto 5px;
}
div#navigation-left {
  flex: 1;
  height: 90px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}
div#navigation-thumb  {
  float: left;
  margin-right: 10px;
}
div#navigation-thumb img {
  height: 84px;
  margin: 3px;
}
div#navigation-song-info {
  align-items: center;
  display: flex;
  height: 100%;
}
div#navigation-song-info-text {
  flex: 1;
  overflow: hidden;
}
div#navigation-song-title {
  text-overflow: ellipsis;
  overflow: hidden;
}
div#navigation-video-title {
  font-size: 12px;
  font-weight: 300;
  color: #666;
  text-overflow: ellipsis;
  overflow: hidden;

}
div#navigation-middle {
  display: flex;
  /* background-color: #cfc; */
  align-items: center;
  height: 100%;
  margin: 0px 20px 0px 20px;
}
div#navigation-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
  /* background-color: #ccf; */
}
div#control-option {
  margin-right: auto;
}
div#twitter-share {
  margin: 10px 60px;
}

.fa-color-inui {
  color: #9d3757;
}
.fa-color-inui:hover {
  color: #d56789;
}
.fa-color-tweet {
  color: #00acee;
}
i.control-button {
  margin: 0px 30px;
}

/* default(PC) */
div#youtube-player {
  width: 720px;
  height: 405px;
}
iframe#youtube-player {
  width: 720px;
  height: 405px;
}
div#player-wrapper {
  width: 720px;
  height: 405px;
}
div#message-wrapper {
  position: fixed;
  top: 475px;
  width: 720px;
  margin: 0;
  padding-left: 10px;
}
div#video-wrapper {
  margin-left: 720px;
}
div.dataTables_wrapper div.row:first-child {
  bottom: auto;
}


@media screen and (min-width:1200px) and (max-width:1400px) {
  div#youtube-player {
    width: 560px;
    height: 315px;
  }
  iframe#youtube-player {
    width: 560px;
    height: 315px;
  }
  div#player-wrapper {
    width: 560px;
    height: 315px;
  }
  div#message-wrapper {
    position: fixed;
    width: 560px;
    top: 385px;
    margin: 0;
    padding-left: 10px;
  }
  div#video-wrapper {
    margin-left: 560px;
  }
  div.dataTables_wrapper div.row:first-child {
    bottom: auto;
  }
}

@media screen and (min-width:769px) and (max-width: 1199px) {
  div#youtube-player {
    width: 400px;
    height: 225px;
  }
  iframe#youtube-player {
    width: 400px;
    height: 225px;
  }
  div#player-wrapper {
    width: 400px;
    height: 225px;
  }
  div#message-wrapper {
    position: fixed;
    width: 400px;
    top: 295px;
    margin: 0;
    padding-left: 10px;
  }
  div#video-wrapper {
    margin-left: 400px;
  }
  div.dataTables_wrapper div.row:first-child {
    bottom: auto;
  }
}

@media screen and (max-width: 768px) {
  div#header h1 {
    font-size: 20px;
  }
  div#header-right {
    padding-right: 20px;
  }
  table#song-table {
    padding: 0;
  }
  div#youtube-player {
    height: 350px;
  }
  iframe#youtube-player {
    width: 100%;
    height: 350px;
  }
  div#player-wrapper {
    top: 55px;
    width: 100%;
    height: 350px;
    padding: 0;
  }
  div#message-wrapper {
    position: static;
    width: 100%;
    margin-top: 360px;
    padding-left: 10px;
  }
  div#message-wrapper .player-message .message-body {
    padding-right: 10px;
  }
  div#video-wrapper {
    margin-left: auto;
  }
  div.dataTables_wrapper div.row:first-child {
    bottom: 95px;
  }
  tr.header-row th {
    white-space: nowrap;
    overflow: hidden;
    tr
  }
  i.control-button {
    margin: 0px 20px;
  }
  .fab {
    font-size: 2em;
  }
  .far {
    font-size: 3em;
  }
  .fas {
    font-size: 2em;
  }
  .col-sm-12 {
    padding
  }
  #control-option {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media screen and (max-width: 480px) {
  div#header h1 {
    font-size: 20px;
  }
  div#header-right {
    padding-right: 20px;
  }
  table#song-table {
    padding: 0;
  }
  div#youtube-player {
    width: 100%;
    height: 216px;
  }
  iframe#youtube-player {
    width: 100%;
    height: 216px;
  }
  div#player-wrapper {
    top: 55px;
    width: 100%;
    height: 216px;
    padding: 0;
  }
  div#message-wrapper {
    position: static;
    width: 100%;
    margin-top: 226px;
    padding-left: 10px;
  }
  div#message-wrapper .player-message .message-body {
    padding-right: 10px;
  }
  div#video-wrapper {
    margin-left: auto;
  }
  div.dataTables_wrapper div.row:first-child {
    bottom: 75px;
  }
  tr.header-row th {
    white-space: nowrap;
    overflow: hidden;
    tr
  }
  tr.header-row th.title {
    width: 60%;
  }
  tr.header-row th.artist {
    width: 40%;
  }
  tr.header-row th.video-title {
    width: 0;
  }
  tr.song-row td.title img {
    height: 15px;
  }
  div#navigation-wrapper {
    height: 70px;
  }
  i.control-button {
    margin: 0px 20px;
  }
  .fab {
    font-size: 2em;
  }
  .far {
    font-size: 3em;
  }
  .fas {
    font-size: 2em;
  }
  .col-sm-12 {
    padding
  }
  #control-option {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
  }
}
