body {
  margin: 0;     overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  color: #333;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #333;
  text-decoration: underline solid #333;
}
label {
  margin: auto;
  font-weight: 400;
}
div#main {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
div#content {
  height: calc(100% - 90px);
}
div#header {
  z-index: 100;
  width: 100%;
  background-color: #9d3757;
  padding: 10px 0px 10px 20px;
  margin-bottom: 10px;
  border-bottom: 10px solid #fff;
  position: fixed;
  display: flex;
  align-items: center;
}
div#header h1 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin: 0px;
}
div#header-left {
  display: flex;
  flex: 1;
}
div#header-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding-right: 50px;
}
div#header-right a.icon {
  margin-left: 20px;
}
div#header-right a.icon i {
  color: #fff;
}
div#body-content {
  z-index: 90;
}
div#youtube-player {
  display: flex;
  height: 405px;
  width: 720px;
  color: #fff;
  background-color: #999;
}
div#youtube-player p {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  align-items: center;
  justify-content: center;
}

div#player-wrapper {
  position: fixed;
  z-index: 110;
  width: 720px;
  top: 70px;
  padding-left: 10px;
}
div#player-wrapper .player-message {
  margin-top:20px;
}
div#player-wrapper .player-message h2 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;
}
div#player-wrapper .player-message p {
  font-size: 14px;
  color: #333;
  margin-top: 5px;
  margin-left: 10px;
  font-weight: 300;
}
div#player-wrapper .player-message a {
  color: #337ab7;
}
div#video-wrapper {
  position: relative;
  top: 70px;
  height: inherit;
  margin-left: 720px;
  padding-left: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}
div.video {
  position: static;
  padding : 10px;
  margin-left: 10px;
  border-bottom: 1px solid #ccc;
}
div.video-thumb {
  position: relative;
  float: left;
  width: 128px;
  height: 72px;
  background-color: #eee;
}
div.video-thumb img {
  z-index: 90;
  width: 128px;
  height: 72px;
}
div.video-info {
  z-index: 80;
  position: static;
  padding-top: 5px;
  padding-left: 140px;

}
div.video-info span.title {
  font-size: 16px;
}
div.video-info span.date {
  font-size: 12px;
  color: #666;
}
div#song-table_filter {
  margin: 5px 20px 0px auto;
}
div#song-table_info {
  padding-left: 20px;
}
div.dataTables_wrapper div.row:first-child {
  z-index: 50;
  position: fixed;
  left: 0;
  width: 100%;
  background-color: rgba(255,255,255,0.9);
}
.dataTables_empty {
  border-bottom: 1px solid #000;
}
table.dataTable.no-footer {
  border-bottom: none;
}
table.dataTable thead th, table.dataTable thead td {
  padding-top: 5px;
  padding-left: 10px;
}
table#song-table {
  table-layout: fixed;
  width: 100%;
  padding: 35px 15px 10px 15px;
  border-spacing: 0px;
}
table#song-table tr:last-child td {
  border-bottom: 1px solid #000;
}
tr.header-row {
  font-size: 12px;
  font-weight: 500;
  text-align: left;
}
tr.header-row th.status {
  width: 1px;
  padding-left:15px;
}
tr.header-row th.title {
  width: 40%;
}
tr.header-row th.artist {
  width: 20%;
}
tr.header-row th.video-title {
  width: 40%;
}
tr.song-row {
  font-size: 13px;
  font-weight: 300;
}
tr.selected {
  background-color: #eee;
}
tr.selected td.title {
  font-weight: 500;
}
tr.song-row:hover {
  background-color: #ddd;
}
tr.song-row td {
  padding: 10px 5px;
  border-bottom: 1px solid #ccc;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
tr.song-row td.status {
  font-size: 0;
}
tr.song-row td.title {
  padding-left: 10px;
}
tr.song-row td img {
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
}
div#navigation-wrapper {
  box-shadow: 0 0 8px rgba(0,0,0,.4);
  z-index: 120;
  background-color: #fff;
  display: flex;
  position: relative;
  height: 90px;
  width: 100%;
}
div#navigation-left {
  flex: 2;
  height: 90px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}
div#navigation-thumb  {
  float: left;
  margin-right: 10px;
}
div#navigation-thumb img {
  height: 84px;
  margin: 3px;
}
div#navigation-song-info {
  align-items: center;
  display: flex;
  height: 100%;
}
div#navigation-song-info-text {
  flex: 1;
  overflow: hidden;
}
div#navigation-song-title {
  text-overflow: ellipsis;
  overflow: hidden;
}
div#navigation-video-title {
  font-size: 12px;
  font-weight: 300;
  color: #666;
  text-overflow: ellipsis;
  overflow: hidden;

}
div#navigation-middle {
  display: flex;
  flex: 2;
  /* background-color: #cfc; */
  align-items: center;
  height: 100%;
  margin: 0px 20px 0px 20px;
}
div#navigation-middle checkbox {
  margin: 0px;
}
div#navigation-middle label {
  margin: auto 5px;
}
div#navigation-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
  /* background-color: #ccf; */
}
div#twitter-share {
  margin: 10px 60px;
}

.fa-color-inui {
  color: #9d3757;
}
.fa-color-inui:hover {
  color: #d56789;
}
.fa-color-tweet {
  color: #00acee;
}
i.control-button {
  margin: 0px 30px;
}

