{% load static %}
<html prefix="og: http://ogp.me/ns#">
  <head>
    <title>いぬいのうた | 戌亥とこ非公式ファンサイト</title>
       <meta name="description" content="いぬいのうたは、にじさんじ所属のバーチャルライバーである戌亥とこさんを応援するファンサイトです。戌亥とこさんが歌った楽曲を探しやすく、再生しやすいようにまとめています。">
    <meta name="keywords" content="戌亥とこ,ケルベロス,にじさんじ,歌,歌ってみた,バーチャルYouTuber,Vtuber,いぬいのうた,YouTube">
    <meta name="google-site-verification" content="ET167zHrokrdV7LkyXTpcLWAysh2k145WpWB4XkXRQc" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://uta.inui-dondon-sukininaru.net/" />
    <meta property="og:title" content="いぬいのうた | 戌亥とこ非公式ファンサイト" />
    <meta property="og:image" content="https://uta.inui-dondon-sukininaru.net/static/images/og_image.png" />
    <meta property="og:description" content="いぬいのうたは、にじさんじ所属のバーチャルライバーである戌亥とこさんを応援するファンサイトです。戌亥とこさんが歌った楽曲を探しやすく、再生しやすいようにまとめています。" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="いぬいのうたは、にじさんじ所属のバーチャルライバーである戌亥とこさんを応援するファンサイトです。戌亥とこさんが歌った楽曲を探しやすく、再生しやすいようにまとめています。" />
    <meta name="twitter:title" content="いぬいのうた | 戌亥とこ非公式ファンサイト" />
    <meta name="twitter:image" content="https://uta.inui-dondon-sukininaru.net/static/images/og_image.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "images/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/favicon-16x16.png" %}">
    <script src="https://kit.fontawesome.com/14c8f655ab.js" crossorigin="anonymous"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166010180-1"></script>
<script>

// inui original
var initialVideoId = "{{ initial_video.video_id }}";
var initialVideoStart  = {{ initial_song.start_at }};
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="{% static "js/common.js" %}"></script>
<script src="{% static "js/site_mobile.js" %}"></script>
<script>
/* 全ての曲と動画情報を書き出す */
const song_data = {{ json_content|safe }};

let deserialized_data = deserialize_data(song_data);
let videoList = deserialized_data['video_list']; 
let songList = deserialized_data['song_list']; 

var songPlaying = songList.searchSong('{{initial_video.video_id}}', {{ initial_song.start_at }});

var enableAutoJump = true;
function switchAutoJump() {
  enableAutoJump = !enableAutoJump;
}

var intervalProcess = function() {
  if (enableAutoJump) {
    controller.autoJump();
  }
}
setInterval(intervalProcess, 1000);

</script>
<link href="{% static "css/mobile.css" %}" rel="stylesheet">
{% if font_rainbow %}<link href="{% static "css/rainbow.css" %}" rel="stylesheet">{% endif %}
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

  </head>
  <body>
    <div id="main">
    <div id="content">
      <div id="header">
        <h1>いぬいのうた</h1>
      </div>
      <div id="player-container">
        <div id="youtube-player"></div>
      </div>
      <div id="scroll-content">
      <div id="message-container">
        <div id="control-options">
          <input type="checkbox" id="check-autojump" onchange="switchAutoJump()" checked><label for="check-autojump">自動で次の曲へ</label>
        </div>
        <div class="player-message">
          <h2>使い方</h2>
          <p>
          曲名をクリックすると動画を読み込んで曲の頭出しをします。<br />
          <br />
          サムネイルをクリックすると元動画に飛べます。また曲名リンクから新しいウィンドウを開いても元動画で頭出しができます。コメントを見たい場合などはそちらからどうぞ。<br />
          <span class="text-alert">※現在、「PC版サイト＆横画面」での視聴を推奨しています。</span>
          </p>
        </div>
          <div class="player-message">
            <h2>このサイトについて</h2>
            <p>
            にじさんじ所属のバーチャルライバー、<strong><a href="https://www.youtube.com/channel/UCXRlIK3Cw_TJIQC5kSJJQMg?sub_confirmation=1">戌亥とこ</a></strong>さんの歌を視聴しやすいようにまとめた<u>非公式ファンサイト</u>です。
            戌亥とこさん及び"いちから株式会社"とは直接の関係はありません。
            </p>
            <p>
            ご意見、不具合報告等はツイッター(<a href="https://twitter.com/inui_no_uta">@inui_no_uta</a>)または<a href="https://marshmallow-qa.com/inui_no_uta">こちら</a>にでも。
            </p>
          </div>
        </div>
        
        <div id="videos">
        {% for v in videos %}
          <div class="video">
            <div class="video-thumb"><a href="{{ v.url }}"><img src="static/{{ v.thumbnail_path }}"></a></div>
            <div class="video-info">
              <span class="title">{{ v.title }}</span>
              <span class="date">{{ v.published_at|date:"Y/m/d" }}</span>
            </div>
            <div class="song-list">
              <ul>
              {% for s in v.sorted_song_set %}
              <li><a href="{{v.url }}&t={{ s.start_at }}" class="song-title" onclick="playSong(songList.songs[{{ s.id }}])">{{ s.title }}</a> / {{ s.artist }}
              {% endfor %}
              </ul>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div><! -- content end -->
    <div id="navigation-wrapper">
      <div id="navigation-left">
      </div>
      <div id="navigation-middle">
        <a href="#" onclick="controller.playPrevSong()" ontouchstart=""><i class="fas fa-step-backward fa-4x fa-color-inui control-button" id="control-button-forward"></i></a>
        <a href="#" id="control-icon" onClick="changePlayingState()" ontouchstart=""><i class="far fa-play-circle fa-8x fa-color-inui control-button"></i></a>
        <a href="#" onclick="controller.playNextSong()" ontouchstart=""><i class="fas fa-step-forward fa-4x fa-color-inui control-button" id="control-button-forward"></i></a>
      </div>
      <div id="navigation-right">
      </div>
    </div>
  </div>
</body>
</html>
