{% load static %}
<html prefix="og: http://ogp.me/ns#">
  <head>
    <title>いぬいのうた | 戌亥とこ非公式ファンサイト</title>
    <meta name="description" content="いぬいのうたは、にじさんじ所属のバーチャルライバーである戌亥とこさんを応援するファンサイトです。戌亥とこさんが歌った楽曲を探しやすく、再生しやすいようにまとめています。">
    <meta name="keywords" content="戌亥とこ,ケルベロス,にじさんじ,歌,歌ってみた,バーチャルYouTuber,Vtuber,いぬいのうた,YouTube">
    <meta name="google-site-verification" content="ET167zHrokrdV7LkyXTpcLWAysh2k145WpWB4XkXRQc" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://uta.inui-dondon-sukininaru.net/" />
    <meta property="og:title" content="いぬいのうた | 戌亥とこ非公式ファンサイト" />
    <meta property="og:image" content="https://uta.inui-dondon-sukininaru.net/static/images/og_image.png" />
    <meta property="og:description" content="いぬいのうたは、にじさんじ所属のバーチャルライバーである戌亥とこさんを応援するファンサイトです。戌亥とこさんが歌った楽曲を探しやすく、再生しやすいようにまとめています。" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="いぬいのうたは、にじさんじ所属のバーチャルライバーである戌亥とこさんを応援するファンサイトです。戌亥とこさんが歌った楽曲を探しやすく、再生しやすいようにまとめています。" />
    <meta name="twitter:title" content="いぬいのうた | 戌亥とこ非公式ファンサイト" />
    <meta name="twitter:image" content="https://uta.inui-dondon-sukininaru.net/static/images/og_image.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "images/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/favicon-16x16.png" %}">

<script src="https://kit.fontawesome.com/14c8f655ab.js" crossorigin="anonymous"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166010180-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-166010180-1');
</script>
<script>
// ここで指定したidの動画がプレイヤーに初期ロードされる
var initialVideoId = "{{ initial_video.video_id }}";
var initialVideoStart  = {{ initial_song.start_at }};

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
<script src="{% static "js/common.js" %}"></script>
<script src="{% static "js/site_pc.js" %}"></script>

<script>

/* 全ての曲と動画情報を書き出す */
const song_data = {{ json_content|safe }};

let deserialized_data = deserialize_data(song_data);
let videoList = deserialized_data['video_list']; 
let songList = deserialized_data['song_list']; 
 
var songPlaying = songList.searchSong('{{initial_video.video_id}}', {{ initial_song.start_at }});

var enableAutoJump = true;
function switchAutoJump() {
  enableAutoJump = !enableAutoJump; 
}

function updateTweetData(song) {
  var intentUrl = "https://twitter.com/intent/tweet?";
  var text = "いぬいのうたで「" + song.title + "/" + song.artist + "」を再生中";
  var url = "https://uta.inui-dondon-sukininaru.net/?vid=" + song.video.id + "&sid=" + song.id;
  var hashtag = "いぬいのうた";

  var params = new URLSearchParams({
    "text": text,
    "url": url,
    "hashtags": hashtag
  });

  var obj = document.getElementById("twitter-share-link");
  obj.setAttribute("href", 
    intentUrl + params.toString()
  );
}

var firstPlay = false;
var checkPlayingSong = function() {
  if (!firstPlay) {
    return;
  }
  var video_id = player.getVideoData().video_id;
  var playing = songList.searchSong(video_id, player.getCurrentTime());
  songPlaying = playing;
  if (playing) {
    updateSongInfo(video_id, playing.title  + " / " + playing.artist, playing.video.title);
    updateTweetData(playing);
    updateSongRowStyle(playing);
  } else {
    updateSongInfo(video_id, "--- / ---", videoList.videos[video_id].title);
    updateSongRowStyle();
  }
}

var intervalProcess = function() {
  if (enableAutoJump) {
    controller.autoJump();
  }
  checkPlayingSong();
}

setInterval(intervalProcess, 1000);

$(document).ready( function () {
  $('#song-table').DataTable( {
    autoWidth: false,
    paging: false,
    order: [],
  } );
} );

</script>

<link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/>
<link href="{% static "css/datatable.css" %}" rel="stylesheet">
<link href="{% static "css/pc.css" %}" rel="stylesheet">
{% if font_rainbow %}<link href="{% static "css/rainbow.css" %}" rel="stylesheet">{% endif %}
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

  </head>
  <body>
<div id="main">
  <div id="content">
    <div id="header">
      <div id="header-left">
        <h1>いぬいのうた</h1>
      </div>
      <div id="header-right">
        <a href="https://twitter.com/inui_toko" title="戌亥とこのTwitter" class="icon" target="_blank">
          <i class="fab fa-twitter-square fa-3x"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCXRlIK3Cw_TJIQC5kSJJQMg?sub_confirmation=1" class="icon" title="戌亥とこのYouTubeチャンネル" target="blank">
          <i class="fab fa-youtube-square fa-3x"></i>
        </a>
      </div>
    </div>
    <div id="player-wrapper">
      <div id="youtube-player"><p onclick="loadPlayer()">クリックで再読み込み</p></div>
      <div class="player-message">
        <h2>使い方</h2>
        <p>
        曲名をクリックすると動画を読み込んで曲の頭出しをします。<br />
        <br />
        動画タイトルをクリックすると元動画に飛べます。また曲名リンクから新しいウィンドウを開いても元動画で頭出しができます。コメントを見たい場合などはそちらからどうぞ。
        </p>
      </div>
      <div class="player-message">
        <h2>このサイトについて</h2>
        <p>
        にじさんじ所属のバーチャルライバー、<strong><a href="https://www.youtube.com/channel/UCXRlIK3Cw_TJIQC5kSJJQMg?sub_confirmation=1">戌亥とこ</a></strong>さんの歌を視聴しやすいようにまとめた<u>非公式ファンサイト</u>です。
        戌亥とこさん及び"いちから株式会社"とは直接の関係はありません。
        </p>
        <p>
        ご意見、不具合報告等はツイッター(<a href="https://twitter.com/inui_no_uta">@inui_no_uta</a>)または<a href="https://marshmallow-qa.com/inui_no_uta">こちら</a>にでも。
        </p>
      </div>
    </div>
    <div id="video-wrapper">
    <table id='song-table'>
      <thead>
        <tr class="header-row">
          <th class="status" style="width:1px;padding-right:10px;"></th>
          <th class="title">タイトル</th>
          <th class="artist">アーティスト</th>
          <th class="video-title">動画タイトル</th>
        </tr>
      </thead>
      <tbody>
      {% for v in videos %}
        {% for s in v.sorted_song_set %}
        <tr class="song-row" id="song-row-{{ s.id }}">
          <td class="status">{{ forloop.parentloop.counter|stringformat:"03d" }}-{{ forloop.counter|stringformat:"03d" }}</td>
          <td class="title">
            <a href="{{v.url }}&t={{ s.start_at }}" title="{{ s.title }}" class="song-title" onclick="controller.playOrPause(songList.songs[{{ s.id }}])"> <img src="static/{{ v.thumbnail_path }}"></a>
            <a href="{{v.url }}&t={{ s.start_at }}" title="{{ s.title }}" class="song-title" onclick="controller.playOrPause(songList.songs[{{ s.id }}])">{{ s.title }} </a>
          </td>
          <td class="artist">{{ s.artist }}</td>
          <td class="video-title"><a href="{{ v.url }}" title="{{ v.title }}">{{ v.title }}</a></td>
        </tr>
        {% endfor %}
      {% endfor %}
      </tbody>
    </table>
    </div>
  </div><!-- content end -->
  <div id="navigation-wrapper">
    <div id="navigation-left">
      <div id="navigation-thumb"><img src="static/{{ initial_video.thumbnail_path }}" id="playing-thumb"></div>
      <div id="navigation-song-info">
        <div id="navigation-song-info-text">
          <div id="navigation-song-title">{{ initial_song.title}} / {{ initial_song.artist }}</div>
          <div id="navigation-video-title">{{ initial_video.title }}</div>
        </div>
      </div>
    </div>
    <div id="navigation-middle">
      <a href="#" title="前の曲へ" onclick="controller.playPrevSong()"><i class="fas fa-step-backward fa-2x fa-color-inui control-button" id="control-button-forward"></i>
      <a href="#" title="再生する" id="control-icon" onClick="changePlayingState()"><i class="far fa-play-circle fa-4x fa-color-inui"></i></a>
      <a href="#" title="次の曲へ" onclick="controller.playNextSong()"><i class="fas fa-step-forward fa-2x fa-color-inui control-button" id="control-button-forward"></i></a>
    </div>
    <div id="navigation-right">
      <div id="control-option">
        <input type="checkbox" id="check-autojump" onchange="switchAutoJump(this)" checked><label for="check-autojump">自動で次の曲へ</label>
      </div>
      <div id="twitter-share">
        <a href="#" title="再生中の曲をシェアする" id="twitter-share-link" target="inui_no_uta">
          <i class="fas fa-external-link-alt fa-2x fa-color-tweet"></i>
        </a>
      </div>
    </div>
  </div>
</div><!-- main end -->
<script>
updateTweetData(songPlaying);
</script>
</body>
</html>
